.footer {
	background-color: $orange;
	padding: 40px 0 60px;
	color: #fff;

	h2 {
		color: #fff;
		font-weight: $body-font-weight;
		font-size: 1.2em;
		margin-bottom: 5px;
	}

	ul {
		margin-left: 0;
		padding-left: 0;
		list-style-type: none;

		li {
			font-size: 0.8em;
			line-height: 1.75;
		}
	}
	p {
		margin-top: 30px;
	}
}
