#contact {
	h2, h2 small{
		color: #fff;
	}
	.row {
		position: relative;
		height: 100%;
	}

	.form-group {
		height: 100%;
		textarea{
			margin-bottom: 15px;
		}
	}
	input[type="text"].form-control, input[type="email"], textarea {
		padding: 8px;
		border-radius: 4px;
		outline: none;
		border: 1px solid $brown;
		width: 100%;
	}

	.form-control {
		height: auto;
	}

	select.form-control {
		height: 38px;
	}

	textarea {
		height: 100%;
	}

	.contact-form-container{
		background-color: $brown;
		padding: 30px 0;
		margin-bottom: 40px;
	}

	hr {
		border-bottom: 2px solid #fff;
	}

	.status-div {
		display: none;
		border-radius: 4px;
		color: #fff;
		font-size: 0.85em;
		padding: 10px 20px;
		margin-bottom: 20px;
		ul {
			margin-left: 25px;
			font-style: italic;
		}
		a, a:active, a:focus {
			color: #fff;
			font-style: italic;
		}
		a:hover {
			text-decoration: underline;
		}
		p {
			margin-bottom: 0;
			padding: 0;
		}
		&.error-div {
			background-color: rgba(255,0,0,0.5);
		}
		&.success-div {
			background-color: rgba(0,255,0,0.5);
		}
	}
}
