.header {
	padding: 30px 0;  
	position: relative;
  top: 65%;
  transform: perspective(1px) translateY(-50%);
  color: #FFF;
  text-shadow: 0 -1px darken(#fff, 20%);
  &.blog-post {
  	position: absolute;
  	bottom: 40px; 
  	top: auto;
  	width: 100%;
  	transform: perspective(1px) translateY(0);
  }
	h1 {
		margin: 0;
		font-size: 2em;
		@media(min-width: 768px) {
			font-size: 3em;
		}
		@media(min-width: 1200px) {
			font-size: 4em;
		}
	}

	&.posts h1 {
		margin: 0;
		font-size: 1.5em;
		@media(min-width: 768px) {
			font-size: 3em;
		}
	}

	p{
		font-size: 1em;
    margin-bottom: 1em;
		@media(min-width: 1200px) {
			font-size: 1.125em;
		}
	}
}
.screen {
  background-color: transparent;
  background-image: linear-gradient(transparent 0%,rgba(0,0,0,.2) 50%,rgba(0,0,0,.2) 51%,rgba(0,0,0,.6) 100%);
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: absolute;
}
