.modal {
	top: 75px;
	p {
		margin-bottom: 20px;
	}
}

.modal-content {
	font-size: 0.8em;
	padding-bottom: 30px;
}

.modal-body {
	padding: 30px 40px 0;
}

.modal-header {
	color: #fff;
	background-color: $brown;
	padding: 15px 15px 15px 40px;
	.close {
		color: #fff;
		opacity: 0.6;
		font-size: 1.125em;
		transition: 0.3s;
		&:hover {
			opacity: 1;
		}
	}
}

.popover-content {
	font-size: 1.125em;
	text-align: left;
}