.package {
	border: 1px solid $red;
	border-radius: 4px;
	margin-bottom: 20px;
	position: relative;
	header {
		color: #fff;
		background-color: $red;
		padding: 20px 30px;
		h4 {
			margin: 0;
			font-size: 1.25em;
		}
	}
	@media(min-width:990px) {
		font-size: 0.8em;
	}
	footer {
		background-color: $red;
		text-align: center;
		color: #fff;
		font-size: 1.25em;
		font-weight: 500;
		padding: 10px 30px;
		font-family: $heading-font-family;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		p {
			margin: 0;
		}
	}
	.package-body {
		padding: 20px 30px;
		margin-bottom: 75px;
	}
}