<div id="contact" class="main-section">
	<div class="contact-form-container">
		<div class="container">	
			<div class="row">
				<div class="col-md-12">
					<h2> Contact Us <small>(* required)</small></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form id="contact-form" method="POST">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="full_name" class="sr-only">Name</label>
									<input type="text" id="full_name" class="form-control" name="full_name" placeholder="Name *" required />
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="fax" class="sr-only">Do not fill this out, filter field</label>
									<input type="text" name="fax" style="hidden; display:none;" id="fax"/>
									<label for="email" class="sr-only">Email Address</label>
									<input type="email" id="email" class="form-control" name="email" placeholder="Email Address *" required />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="phone" class="sr-only">Phone</label>
									<input type="text" id="phone" class="form-control" name="phone" placeholder="Phone Number" />
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="company" class="sr-only">Company</label>
									<input type="text" id="company" class="form-control" name="company" placeholder="Company" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="website" class="sr-only">Your Website</label>
									<input type="text" id="website" class="form-control" name="website" placeholder="Your Website">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="reason" class="sr-only">Reason for contact</label>
									<select id="reason" class="form-control" name="reason">
										<option value="general">General message or comment</option>
										<option value="need-website">I need a website</option>
										<option value="social-media">I want to talk about social media</option>
										<option value="support">I have a website and want to talk about support</option>
										<option value="development">I have a website and want to talk about development</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="comments" class="sr-only">Message</label>
									<textarea id="comments" class="form-control" name="comments" rows="5" placeholder="Message"></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="status-div">
								</div>
								<div class="form-group">
									<button class="btn btn-lg" type="submit" id="contact-submit">Submit</button>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="last_name" class="sr-only">Last Name</label>
							<input type="text" name="last_name" class="sr-only" id="last_name" placeholder="Last name" />
						</div>
					</form>
				</div>
			</div>
		</div> <!--end container-->
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
			<p>
				<strong>Call:</strong> <a href="tel:9055154951">905.515.4951</a><br>
				<strong>Email:</strong> <a href="mailto:info@calder.io">info@calder.io</a>
			</div>
		</div>
	</div>
</div>