<section id="development" class="main-section">
	<div class="container text-container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="h3">
					Helping you make it all work!
				</h2>
				<p>
					Even if you're tech savvy, your business likely isn't creating web sites and dealing with your online presence. So where do you turn for help with all this stuff? How do you know you're making the right choice and not an expensive mistake?
				</p>
				<p>
					Even if you know exactly which pieces of the puzzle you need, who do you hire to make it all happen and who takes care of it all after it's built? The choices become more daunting at this point. Searching Google is an option, one that will probably add to your confusion rather than alleviate it. There are so many options, companies that build websites for as little as $199, large agencies that charge tens, or even hundreds of thousands of dollars for a site there are even companies that tell you that you can build your own site and host it for a few dollars a month.
				</p>
			</div>
		</div>
	</div>
	{% include 'partials/testimonial.twig' %}
	<div class="container text-container">
		<div class="row">
			<div class="col-lg-12">
				<p>
					It's hard not to fill the &ldquo;Development&rdquo; section with technical jargon so this part will be short. We aren't a WordPress shop, a Drupal shop, PHP, Ruby or Javascript. We're technology agnostic. What that means is we do web development based on your needs and not based on our preferences. We'll listen to your requirements and work with you to choose the platform that makes the most sense for your needs.
				</p>
			</div>
		</div>
	</div>
</section>