<section id="presence" class="main-section">
	<div class="container text-container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="h3">
					Having an online presence matters!
				</h2>
				<p>
					It doesn't matter what you do, whether you fix cars, cut hair or sell widgets, your business needs an online presence. These days more and more people are researching purchases online before buying, even when they intend to buy from a brick &amp; mortar business, they still research online first. They want to know what products or services you offer, where you're located, your hours, your phone number and email address. Online presence is essential in this connected world in order to maximize your potential to reach customers. Not having an online presence is limiting that potential.

				</p>
				<p>
					As the web grows the options for realizing this online presence grow too. Social media has exploded in the past half a decade to the point where major corporations have customer support representatives on Twitter, watching for comments and complaints and dealing directly with customers to resolve issues. Websites, blogs, Facebook pages and groups, Twitter, Instagram, LinkedIn, and Pinterest profiles, there are a myriad of options available and choosing the right one(s) is not always obvious.
				</p>
			</div>
		</div>
	</div>
	<div class="row background-red breakout">
		<div class="container">
			<div class="col-md-12">
				<blockquote>
					<p>There were over 200,000,000 new websites launched in the past year. Standing out in a crowd like that is hard!</p>
				</blockquote>
			</div>
		</div>
	</div>
	<div class="container text-container">
		<div class="row">
			<div class="col-lg-12">
				<p>
					Your business is fixing cars, cutting hair, or selling those important widgets. My business is helping you decide whether you should have your own website or perhaps a blog. Do you need Facebook or Instagram? What is Pinterest? Helping you decide which route is best for your business and your budget is what we are all about.
				</p>
				<p>
					We do a one on one consultation with you to determine the best route for you to create a great online presence that fits your business and your budget. Your budget isn't just how much you can afford to spend. It's also how much you spend to get the maximum return on investment. It doesn't make a lot of sense for a hair dresser working out of their home to spend tens of thousands of dollars on a big fancy CMS website, and we'd never suggest they do that. Helping you understand the options, and their value is important to us.

				</p>
			</div>
		</div>
	</div>
</section>