<section id="support" class="main-section">
	<div class="container text-container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="h3">
					The web is a scary place!
				</h2>
				<p>
					The statistics on cyber attacks are absolutely staggering. This <a href="https://sucuri.net/security-reports/brute-force/">graphic by Sucuri</a> shows WordPress brute force attacks. Hovering over the points will show you the number of attempts to illegally access a WordPress site per day. This <a href="http://map.norsecorp.com/#/">map by Norse</a> shows real time cyber attacks world wide.
				</p>
				<h3>You are a target!</h3>
				<p>
					One misconception many people have is <em>&ldquo;I am not a target. Who would anyone want to hack a bakery website?&rdquo;</em> Trust me you are a target, it doesn't matter if you have a major e-commerce website or a simple brochure site to sell your widgets. Cyber attacks are perpetrated by what are called botnets. Botnets are a group of websites that have been compromised and have software loaded on them that allows attackers to use them to work together to attack larger sites. Your individual data may not be a target, the processing power of your website most certainly is!
				</p>
			</div>
		</div>
	</div>
	<div class="row background-brown breakout">
		<div class="container">
			<div class="col-md-12">
				<blockquote>
					<p>During a 16 hour period WordFence recorded 6,611,909 attacks on the WordPress websites they protect, targeting 75,532 individual websites.</p>
				</blockquote>
			</div>
		</div>
	</div>
	<div class="container text-container">
		<div class="row">
			<div class="col-lg-12">
				<h3>What can you do?</h3>
				<p>
					Software, including open source web platforms like WordPress, Drupal and many others, is very complex. As such there are vulnerabilites. The creators of this software work very hard to make sure their product is safe and secure, but these vulnerabilities exist. Over time more and more vulnerabilties are released to the public, and the companies release updates to fix them. So the most important thing you can do is make sure your site and all its plugins are up to date with the latest versions.
				</p>
				<h3>Clicking that update button is better than nothing but...</h3>
				<p>
					The problem with website platforms is they are usually built with a number of plugins to add functionality. <a href="" data-toggle="popover" data-trigger="click" data-content="we keep using WordPress as an example because it is so common, but this applies to all website platforms">WordPress</a> for example has thousands of plugins to let it do different tasks. There are plugins to send emails, post Twitter feeds, create forms and literally thousands of other tasks. Each of these plugins has to work together with both the core of WordPress and every other plugin on the site, which adds to the complexity. What it also means is one bad update from a single plugin can bring your website crashing down.
				</p>
				<h3>A better way to update!</h3>
				<p>
					We offer support packages to help you keep your site up to date and safe, both for you and everyone else on the web! If you have a website running on an open source platform such as WordPress or Drupal you can go to the admin panel and click update yourself on each thing that requires updating. It's a nice simple process and the majority of the time works just fine. However, as mentioned earlier, with each click you're spinning the roulette wheel with your website. Is this the click that makes the whole thing crash? The one thing all these platforms have in common is the inability to roll back a change. Meaning you can update a plugin or the core with a simple click of a button, but if things break there is no button to fix it.
				</p>
				<p>
					At <span class="heading-font">calder.io</span> we do things a little differently. When we update your website we actually update a <a href="" data-toggle="popover" data-trigger="click" data-placement="top" data-content="We create a completely offline mirror version of your website that has no effect on your live site!">local development version</a> of your site and test it thoroughly before deploying the updates to your live website. This ensures that your live website will never be taken down by a bad or incompatible plugin or core update. All updates are tested in a completely secure environment with no affect on your live website and no updates are deployed until complete security and compatibility are verified.
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="package">
					<header>
						<h4>Professional</h4>
					</header>
					<div class="package-body">
						<ul>
							<li>Up to 10 plugins</li>
							<li>Monthly updates of all plugins and software core</li>
							<li>Secure sandboxed updates of your site before live deployment</li>
							<li>Monthly report including:
								<ul>
									<li>List of updates and versions</li>
									<li>Incompatible updates and possible resolutions</li>
								</ul>
              </li>
							<li>10% discount on development work</li>
							<li><a href="" data-toggle="modal" data-target="#setup">$399 initial setup fee</a></li>
						</ul>
					</div>
					<footer>
						<p>$199/month</p>
					</footer>	
				</div>
			</div>
			<div class="col-md-6">
				<div class="package">
					<header>
						<h4>Enterprise</h4>
					</header>
					<div class="package-body">
						<ul>
							<li>Unlimited plugins</li>
							<li>Monthly updates of all plugins and software core</li>
							<li>Secure sandboxed updates of your site before live deployment</li>
							<li>Up to 5 hours development time to resolve incompatible updates</li>
							<li><a href="" data-toggle="modal" data-target="#eyes-on">Eyes on review of your site</a></li>
							<li>Monthly report inluding:
								<ul>
									<li>List of updates and versions</li>
									<li>Incompatible updates that were resolved</li>
									<li>Incompatible updates not resolved and possible resolutions</li>
									<li>Results of eyes on review of your site</li>
									<li><a href="" data-toggle="modal" data-target="#suggestions">Suggestions on improvements to your site</a></li>
								</ul>
              </li>
							<li>20% discount on development work</li>
							<li><a href="" data-toggle="modal" data-target="#setup"><strong>Free initial setup</strong></a></li>
						</ul>
					</div>
					<footer>
						<p>$499/month</p>
					</footer>
				</div>
			</div>
		</div>
		<div class="container text-container">
	    <div class="row">
	      <div class="col-md-12">
	        <h3>Custom packages</h3>
	        <p>Not sure what you need? Do you have complex requirements or multiple sites? We are happy to work with you to tailor a support package that fits your needs. Give us a call at <a href="tel:9055154951">905.515.4951</a>, send us a message via our <a href="" data-target="contact" title="" class="scroll-link">contact form</a> or by email directly to <a href="mailto:info@calder.io">info@calder.io</a>.</p>
	      </div>
	    </div>
	  </div>
	</div>
</section>

<!-- Modal -->
<div id="eyes-on" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eyes on Review</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Our eyes on review of your website means going beyond just making sure things work. It means we look through your site with an eye to quality as well. Scanning posts and entries for spelling errors, making sure links work and images look good.</p>
        <p>
        	We'll repair the obvious errors and note any we aren't sure of in your monthly report so you can review/repair them yourself.
        </p>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="suggestions" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Improvement Suggestions</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Sometimes plugin developers stop updating their plugins, or a newer/better solution comes along. We keep an eye on trends in the market and which plugins are best to accomplish a particular goal.</p>
        <p>
        	If we find a better solution than one you are currently using we'll include that in your monthly report with our reasoning for feeling this is a better solution. If you choose to move forward with our suggestions you'll receive an extra 5% discount on our developement pricing (totalling a 25% discount) to test and implement the suggestion(s).
        </p>
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="setup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Setup</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Included in your setup you get a website status report and set up of our local development version of your site which allows us to test updates and new development before live deployment.</p>
        <p style="margin-bottom: 10px">
        	Your website status report will include: 
        </p>
        <ul>
          <li>A list of plugins/modules and their update status</li>
          <li>Suggestions on improvments to your site including:
            <ul style="margin-bottom: 40px;">
              <li>Performance</li>
              <li>Security</li>
              <li>Accessibility</li>
              <li>SEO</li>
              <li>Social media integration</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>