<div class="container blog-teaser-container blog-content">
	<div class="row">
	  	{% for post in page.posts %}
			  	<div class="col-4 blog-col">
						<a href="/blog/{{ post.slug }}">
						<div class="blog-inner-container">
				  		<div class="featured-post-image" style="background-image:url({{ post.featured_thumbnail }})">
				  		</div>
				  		<div class="blog-text-container">
					  		<h3>{{ post.title | raw }}</h3>
					  		{{ post.excerpt | raw }}
					  	</div>
				    </div>
					</a>
				  </div>
	  	{% endfor %}
  </div>
</div>