<div class="container blog-teaser-container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Sometimes we write things...</h2>
			<div class="row">
	  	{% for post in page.posts|slice(0,3) %}
			  	<div class="col-4 blog-col">
						<a href="/blog/{{ post.slug }}">
						<div class="blog-inner-container">
				  		<div class="featured-post-image" style="background-image:url({{ post.featured_thumbnail }}">
				  		</div>
				  		<div class="blog-text-container">
					  		<h3>{{ post.title | raw }}</h3>
					  		{{ post.excerpt | raw }}
					  	</div>
				    </div>
					</a>
				  </div>
			{% endfor %}
		</div>
  	</div>
  </div>
</div>
<div class="container">
  <div class="row">
  	<div class="col-md-12 center">
	  	{% if page.post_count > 3 %}
		  	<p><a href="{{ base_url() }}/blog" class="btn">View all</a></p>
		  {% endif %}
		</div>
	</div>
</div>