<div id="stage" style="background-image:url( {{ page.site_image }} )">
	<div class="screen"></div>
	{% include "partials/nav.twig" %}
  <div class="header blog-post">
	  <div class="container"><!--Start Header -->
	    <div class="row">
	      <div class="col-sm-12 center">
	        <h1>{{ page.post.title | raw }}</h1>
	      </div>
	     </div>
	  </div>
  </div><!--End Header-->
</div>