<div class="footer">
	{% include 'partials/social-media.twig' %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="center small">&copy;Copyright {{ "now" | date("Y") }} calder.io</p>
			</div>
		</div>
	</div>
</div>
<script>
var base_url = "{{ base_url() }}";
</script>