<div id="stage" style="background-image:url({{ base_url() }}/assets/dist/img/vintage-desk-3.jpg)">
	{% include "partials/nav.twig" %}
  <div class="header">
	  <div class="container"><!--Start Header -->
	    <div class="row">
	      <div class="col-sm-12 center">
	        <h1>calder.io</h1>
	      </div>
	     </div>
	     <div class="row">
			   <div class="col-md-12">
			      <p class="center">
			      	Building better online experiences for small to medium sized business.
			      </p>
			    </div>
	    </div>
	  </div>
  </div><!--End Header-->
</div>