<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Social Media -->

  <!-- Common -->
  <meta property="og:url"                 content="{{ base_url() }}{{ page.slug }}" />
  <meta property="og:type"                content="website" />
  <meta property="og:title"               content="{{ page.title | raw }}" />
  <meta property="og:description"         content="{{ page.description | raw }}" />
  <meta property="og:image"               content="{{ page.site_image }}" />
  <meta property="og:site_name"           content="calder.io" />

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name"                   content="{{ page.title | raw }}">
  <meta itemprop="description"            content="{{ page.description | raw }}" />
  <meta itemprop="image"                  content="{{ page.site_image }}" />

  <!-- Twitter -->
  <meta name="twitter:card"               content="summary_large_image" />
  <meta name="twitter:site"               content="@calderdotio" />
  <meta name="twitter:creator"            content="@calder12" />
  <meta name="twitter:title"              content="{{ page.title | raw }}">
  <meta name="twitter:description"        content="{{ page.description | raw }}" />
  <meta name="twitter:image"              content="{{ page.site_image }}" />



  <!--End Social Media -->
  <link rel="icon" type="image/png" href="{{ base_url() }}/assets/dist/img/favicon.png" />
  <title>{{ page.title | raw }}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  {# Fonts #}
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,700%7COpen+Sans:300,400" rel="stylesheet">
  {# Our css #}
  <link rel="stylesheet" href="{{ base_url() }}/assets/dist/css/main.min.css?v=5.2">
</head>