
<div id="nav" class="clearfix">
  <div class="container nav-container">
    <div class="row">
      <div class="col-sm-2 logo">
        <ul>
          <li>
            <a href="/" title="">
              calder.io
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-10">
        <ul class="nav-links">
          <li>
            <a href="#presence" data-target="presence" title="" class="scroll-link">
              About
            </a>
          </li>
          <li>
            <a href="#development" data-target="development" title="" class="scroll-link">
              Development
            </a>
          </li>
          <li>
            <a href="#support" data-target="support" title="" class="scroll-link">
              Support
            </a>
          </li>
          <li>
            <a href="#contact" data-target="contact" title="" class="scroll-link">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>