
<div class="container">
  <div class="row">
		<div class="col-sm-2 col-sm-push-1">
	  	<a href="{{ page.social_media.facebook.link }}" class="social-icon" title="facebook">{{ page.social_media.facebook.icon | raw }}
	  		<span class="sr-only">Facebook</span>
	  	</a>
	  </div>
		<div class="col-sm-2 col-sm-push-1">
	  	<a href="{{ page.social_media.twitter.link }}" class="social-icon" title="twitter">{{ page.social_media.twitter.icon | raw }}
	  		<span class="sr-only">Twitter</span>
	  	</a>
	  </div>
		<div class="col-sm-2 col-sm-push-1">
	  	<a href="{{ page.social_media.github.link }}" class="social-icon" title="github">{{ page.social_media.github.icon | raw }}
	  		<span class="sr-only">Github</span>
	  	</a>
	  </div>
		<div class="col-sm-2 col-sm-push-1">
	  	<a href="{{ page.social_media.stackoverflow.link }}" class="social-icon" title="stackoverflow">{{ page.social_media.stackoverflow.icon | raw }}
				<span class="sr-only">Stack Overflow</span>
	  	</a>
	  </div>
		<div class="col-sm-2 col-sm-push-1">
	  	<a href="{{ page.social_media.linkedin.link }}" class="social-icon" title="linkedin">{{ page.social_media.linkedin.icon | raw }}
	  		<span class="sr-only">Linkedin</span>
	  	</a>
	  </div>
  </div>
</div>
