<div class="row background-orange breakout">
  <div class="container">
    <div class="col-md-12">
      <blockquote class="testimonial">
        {{ page.testimonial.testimonial | raw }}
        <p class="client">&mdash; {{ page.testimonial.client }}</p>
      </blockquote>
    </div>
  </div>
</div>