{% extends 'blog-layout.twig' %}

{% block content %}
	<div class="container text-container">
		<div class="row">
			<div class="col-md-12 blog-content">
	  		{{ page.post.content | raw }}
	  	</div>
	  </div>
	</div>
	<div class="container">
	  <div class="row">
	  	<div class="col-md-12 center">
			  <p><a href="{{ base_url() }}/blog" class="btn">View all posts</a></p>
			</div>
		</div>
	</div>
	{% include 'social-share.twig' %}
{% endblock %}