{% include 'partials/html_header.twig' %}

<body>
  {% include 'partials/blog-header.twig' %} {% block content %} {% endblock %} {% include 'partials/sections/contact.twig'
  %} {% include 'partials/blog-posts.twig' %} {% include 'partials/footer.twig' %}
  <div id="back-to-top">
    <p>
      <i class="fa fa-arrow-up" aria-hidden="true"></i> Top</p>
  </div>
  <script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="{{ base_url() }}/assets/dist/js/main.min.js"></script>

  <!-- Google Analytics -->
  <script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-51219319-2', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('send', 'pageview');

  </script>
</body>

</html>