{% extends 'layout.twig' %}

{% block content %}
  {% include 'partials/sections/presence.twig' %}
  {% include 'partials/sections/development.twig' %}
  {% include 'partials/sections/support.twig' %}
{% endblock %}