<div class="container social-share">
	<div class="row">
		<div class="col-sm-6 center">
			<a href="https://www.facebook.com/sharer/sharer.php?u={{ base_url() }}{{ page.slug }}&t={{ page.title | url_encode }}"
         onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=800');return false;"
         class="btn fb-btn"
         target="_blank" title="Share on Facebook"><span class="share-icon">{{ page.social_media.facebook.icon | raw }}</span><span class="share-text"> Share on Facebook</span>
      </a>
		</div>
		<div class="col-sm-6 center">
      <a href="https://twitter.com/share?url={{ base_url() }}{{ page.slug }}&text={{ page.title | url_encode }}"
         onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
         class="btn twitter-btn"
         target="_blank" title="Share on Twitter"><span class="share-icon">{{ page.social_media.twitter.icon | raw }}</span><span class="share-text"> Share on Twitter</span>
      </a>
		</div>
	</div>
</div>