$teaser-background: rgb(251, 252, 252);

.blog-teaser-container {
	margin-bottom: 2em;
	.blog-col {
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 20px;
	}
	h3, .h3 {
		font-size: 1em;
	}
	h2, .h2 {
		font-size: 1.5em;
	}
	p {
		font-size: 0.75em;
	}
	.featured-post-image {
    width: 100%;
    padding-top: 56.25%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center;
    position: relative;
	}
	.blog-inner-container {
		border-radius: 5px;
		transition: 0.3s;
		border: 1px solid #ddd;
	}
	.blog-text-container {
		padding: 10px 15px;
	}

	a, a:hover, a:focus, a:visited {
		color: $base-font-color;
	}

	a:hover .blog-inner-container {
		background-color: $teaser-background;
	}
}

.blog-content {
	padding-top: 40px;
	blockquote {
		color: $base-font-color;
		font-size: 1.25em;
		padding: 2em 3em;
		&:before {
			top: 35px !important;
		}
	}
}
