.btn {
  border-radius: 4px;
  padding: 12px 30px;
  border: none;
  outline: none;
  transition: 0.3s;
  font-family: $heading-font-family;
  font-weight: $body-font-weight;
  text-transform: uppercase;
  background-color: $orange;
  color: #fff;
  letter-spacing: 2px;
  &:hover, &:focus, &:active {
    background-color: darken($orange, 15);
    color: #fff;
    outline: none;
  }
  i {
    font-size: 1.5em;
    margin-right: 10px;
  }
}

.btn-sm {
  padding: 5px 10px;
  font-size: 0.75em;
}

.btn-full-width {
  width: 100%;
}

.btn-giant {
  font-size: 1em;
  padding: 10px 30px;
  @media(min-width: 768px) {
    font-size: 1.25em;
    padding: 20px 50px;
  }
}



#back-to-top {
  display: block;
  font-size: 0.8em;
  color: #fff;
  padding: 5px 25px;
  position: fixed;
  bottom: -110px;
  right: 125px;
  background-color: $red;
  border-top-right-radius: 8px; 
  border-top-left-radius: 8px; 
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  p {
    margin: 0;
  }
  &:hover {
    padding-bottom: 10px;
  }
}