img {
	max-width: 100%;
}
body, html {
	height: 100%;
	width: 100%;
	// padding-top: 40px;
}
.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.inline-element {
	display: inline-block;
}

.breakout {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 2em;
}

p {
	margin-bottom: 2em;
}

ul {
	padding-left: 15px;
	li {
		font-size: 0.9em;
	}
}


.container.nav-container {
	margin-bottom: 0;
}

#stage {
	min-height: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.background-red {
	background-color: $burgundy;
}

.background-orange {
	background-color: $orange;
}

.background-brown {
	background-color: $brown;
}

section {
	margin: 0;
}

blockquote {
	margin: 0;
	font-size: 1em;
	padding: 2em;
	border: none;
	font-family: $heading-font-family;
	color: #fff;
	position: relative;
	p {
		margin-bottom: 0;
	}
	@media( min-width: 990px ) {
		font-size: 1.5em;
		padding: 3em 2em;
	}
	&:before {
		font-family: georgia, serif;
		font-size: 3em !important;
		content: "\201C";
		position: absolute;
		left: 10px !important; 
		top: 20px !important;
		@media( min-width: 990px ) {
			top: 65px !important;
			left: 15px !important;
		}
	}
	&.testimonial {
	  p {
	    margin-bottom: 10px;
	    @media(min-width: 990px) {
	  		font-size: 0.85em;
	  	}
	  	&.client {
	  		text-align: right;
	  		font-style: italic;
	  		font-size: 0.85em;
	  		margin-bottom: 0;
		    @media(min-width: 990px) {
		  		font-size: 0.75em;
		  	}
	  	}
	  }
	}
}

.popover {
	background-color: $brown;
	color: #fff;
}
.popover.top .arrow:after, {
    border-top-color: $brown;
}

.popover.right .arrow:after {
    border-right-color: $brown;
}

.popover.bottom .arrow:after {
    border-bottom-color: $brown;
}

.popover.right .arrow:after {
    border-left-color: $brown;
}

.heading-font {
	font-family: $heading-font-family;
}

.text-container {
	max-width: 40em;
}

img {
	max-width: 100%;
	height: auto;
}

li {
	line-height: 1.5;
	margin-bottom: 15px;
	.package-body &, .modal & {
		margin-bottom: 10px;
		line-height: 1.3;
	}
}

.main-section {
	padding-top: 80px;
  @media( min-width: 768px ) {
    padding-top: 50px;
  }
}