#nav {
  position: fixed;
  background-color: rgba(255,255,255,1);
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid #ddd;
  font-size: 0.8em;
  font-weight: 500;
  top: 0;
  ul {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0 5px;
    text-align: center;
    padding: 0 0 5px;
    li {
      display: inline-block;
      text-align: center;
      padding-left: 15px;
      margin-bottom: 5px;
      &:first-child {
        padding-left:0;
      }
    }
    @media( min-width: 768px ) {
      padding: 10px 0 5px;
      text-align: right;
    }
  }

  .logo ul{
    text-align: center;
    font-family: $heading-font-family;
    padding-top: 5px;
    margin-left: 15px;
    font-size: 1.75em;
    @media( min-width: 768px ) {
      text-align: left;
      font-size: 1.25em;
    }

  }
}

.nav-container {
  padding-left: 0;
}