$background: #bbb;

.social-icon {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
	svg {
		height: 100%;
		width: 100%;
		fill: #333;
		transition: 0.3s;
		&:hover {
			border-radius: 100%;
		  fill: $background;
		  transform: scale(1.25) rotate(15deg);
		}
	}
}

.share-icon {
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	svg {
		fill: #fff;
		height: 100%;
		width: 100%;
	}
}

.share-text {
	display: none;
	@media( min-width: 768px ) {
		display: inline-block;
		margin-top: 8px;
		vertical-align: middle;
	}
}

.fb-btn, .fb-btn:active, .fb-btn:focus {
	background-color: #3b5998;
	&:hover {
		background-color: darken(#3b5998, 10);
	}
}
.twitter-btn, .twitter-btn:active, .twitter-btn:focus {
	background-color: #00aced;
	&:hover {
		background-color: darken(#00aced, 10);
	}
}

.social-share {
	margin-bottom: 50px;
}