body {
  font-size: $base-font-size;
  font-weight: $body-font-weight;
  font-family: $body-font-family !important;
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  line-height: 1.5;
  font-size: 20px;
  @media( min-width: 990px ) {
    font-size: 24px;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $body-font-weight;
  font-family: $heading-font-family;
  margin-bottom: 1em;
}

h1, .h1 {
  font-size: 2.25em;
}

h2, .h2 {
  font-size: 2em;
}

h3, .h3 {
  font-size: 1.5em;
}

h4, .h4 {
  font-size: 1em;
}

a {
  transition: 0.3s;
  color: $link-color;
  &:hover {
    text-decoration: none;
    color: darken($link-color, 25);
  }
  &:active, &:focus {
    color: $link-color;
    text-decoration: none;
  }
  &.active {
    font-weight: 600;
    font-style: italic;
  }
}
