

//colours
$base-font-color: #365170;
$orange: #F26009;
$brown: #0E010D;
$yellow: #F0EC90;
$red: #A62405;
$burgundy: #3E0105;
$link-color: $orange;
$light-grey: #ddd;
$dark-grey: #8b8b8b;
$dark-blue: #365170;

//fonts
$base-font-size: 16px;
$body-font-weight: 300;
$light-font-weight: 100;
$body-font-family: 'Open Sans', sans-serif ;
$heading-font-weight: 700;
$heading-font-family: 'Roboto Slab', sans-serif ;