body {
  font-size: 16px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  color: #365170;
  line-height: 1.5;
  font-size: 20px; }
  @media (min-width: 990px) {
    body {
      font-size: 24px; } }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
  font-family: "Roboto Slab", sans-serif;
  margin-bottom: 1em; }

h1, .h1 {
  font-size: 2.25em; }

h2, .h2 {
  font-size: 2em; }

h3, .h3 {
  font-size: 1.5em; }

h4, .h4 {
  font-size: 1em; }

a {
  transition: 0.3s;
  color: #F26009; }
  a:hover {
    text-decoration: none;
    color: #772f04; }
  a:active, a:focus {
    color: #F26009;
    text-decoration: none; }
  a.active {
    font-weight: 600;
    font-style: italic; }

img {
  max-width: 100%; }

body, html {
  height: 100%;
  width: 100%; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.center {
  text-align: center;
  margin: 0 auto; }

.inline-element {
  display: inline-block; }

.breakout {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2em; }

p {
  margin-bottom: 2em; }

ul {
  padding-left: 15px; }
  ul li {
    font-size: 0.9em; }

.container.nav-container {
  margin-bottom: 0; }

#stage {
  min-height: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }

.background-red {
  background-color: #3E0105; }

.background-orange {
  background-color: #F26009; }

.background-brown {
  background-color: #0E010D; }

section {
  margin: 0; }

blockquote {
  margin: 0;
  font-size: 1em;
  padding: 2em;
  border: none;
  font-family: "Roboto Slab", sans-serif;
  color: #fff;
  position: relative; }
  blockquote p {
    margin-bottom: 0; }
  @media (min-width: 990px) {
    blockquote {
      font-size: 1.5em;
      padding: 3em 2em; } }
  blockquote:before {
    font-family: georgia, serif;
    font-size: 3em !important;
    content: "\201C";
    position: absolute;
    left: 10px !important;
    top: 20px !important; }
    @media (min-width: 990px) {
      blockquote:before {
        top: 65px !important;
        left: 15px !important; } }
  blockquote.testimonial p {
    margin-bottom: 10px; }
    @media (min-width: 990px) {
      blockquote.testimonial p {
        font-size: 0.85em; } }
    blockquote.testimonial p.client {
      text-align: right;
      font-style: italic;
      font-size: 0.85em;
      margin-bottom: 0; }
      @media (min-width: 990px) {
        blockquote.testimonial p.client {
          font-size: 0.75em; } }

.popover {
  background-color: #0E010D;
  color: #fff; }

.popover.top .arrow:after {
  border-top-color: #0E010D; }

.popover.right .arrow:after {
  border-right-color: #0E010D; }

.popover.bottom .arrow:after {
  border-bottom-color: #0E010D; }

.popover.right .arrow:after {
  border-left-color: #0E010D; }

.heading-font {
  font-family: "Roboto Slab", sans-serif; }

.text-container {
  max-width: 40em; }

img {
  max-width: 100%;
  height: auto; }

li {
  line-height: 1.5;
  margin-bottom: 15px; }
  .package-body li, .modal li {
    margin-bottom: 10px;
    line-height: 1.3; }

.main-section {
  padding-top: 80px; }
  @media (min-width: 768px) {
    .main-section {
      padding-top: 50px; } }

.btn {
  border-radius: 4px;
  padding: 12px 30px;
  border: none;
  outline: none;
  transition: 0.3s;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #F26009;
  color: #fff;
  letter-spacing: 2px; }
  .btn:hover, .btn:focus, .btn:active {
    background-color: #a84306;
    color: #fff;
    outline: none; }
  .btn i {
    font-size: 1.5em;
    margin-right: 10px; }

.btn-sm {
  padding: 5px 10px;
  font-size: 0.75em; }

.btn-full-width {
  width: 100%; }

.btn-giant {
  font-size: 1em;
  padding: 10px 30px; }
  @media (min-width: 768px) {
    .btn-giant {
      font-size: 1.25em;
      padding: 20px 50px; } }

#back-to-top {
  display: block;
  font-size: 0.8em;
  color: #fff;
  padding: 5px 25px;
  position: fixed;
  bottom: -110px;
  right: 125px;
  background-color: #A62405;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s; }
  #back-to-top p {
    margin: 0; }
  #back-to-top:hover {
    padding-bottom: 10px; }

.social-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto; }
  .social-icon svg {
    height: 100%;
    width: 100%;
    fill: #333;
    transition: 0.3s; }
    .social-icon svg:hover {
      border-radius: 100%;
      fill: #bbb;
      transform: scale(1.25) rotate(15deg); }

.share-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle; }
  .share-icon svg {
    fill: #fff;
    height: 100%;
    width: 100%; }

.share-text {
  display: none; }
  @media (min-width: 768px) {
    .share-text {
      display: inline-block;
      margin-top: 8px;
      vertical-align: middle; } }

.fb-btn, .fb-btn:active, .fb-btn:focus {
  background-color: #3b5998; }
  .fb-btn:hover, .fb-btn:active:hover, .fb-btn:focus:hover {
    background-color: #2d4373; }

.twitter-btn, .twitter-btn:active, .twitter-btn:focus {
  background-color: #00aced; }
  .twitter-btn:hover, .twitter-btn:active:hover, .twitter-btn:focus:hover {
    background-color: #0087ba; }

.social-share {
  margin-bottom: 50px; }

.header {
  padding: 30px 0;
  position: relative;
  top: 65%;
  transform: perspective(1px) translateY(-50%);
  color: #FFF;
  text-shadow: 0 -1px #cccccc; }
  .header.blog-post {
    position: absolute;
    bottom: 40px;
    top: auto;
    width: 100%;
    transform: perspective(1px) translateY(0); }
  .header h1 {
    margin: 0;
    font-size: 2em; }
    @media (min-width: 768px) {
      .header h1 {
        font-size: 3em; } }
    @media (min-width: 1200px) {
      .header h1 {
        font-size: 4em; } }
  .header.posts h1 {
    margin: 0;
    font-size: 1.5em; }
    @media (min-width: 768px) {
      .header.posts h1 {
        font-size: 3em; } }
  .header p {
    font-size: 1em;
    margin-bottom: 1em; }
    @media (min-width: 1200px) {
      .header p {
        font-size: 1.125em; } }

.screen {
  background-color: transparent;
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 51%, rgba(0, 0, 0, 0.6) 100%);
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute; }

.footer {
  background-color: #F26009;
  padding: 40px 0 60px;
  color: #fff; }
  .footer h2 {
    color: #fff;
    font-weight: 300;
    font-size: 1.2em;
    margin-bottom: 5px; }
  .footer ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none; }
    .footer ul li {
      font-size: 0.8em;
      line-height: 1.75; }
  .footer p {
    margin-top: 30px; }

#contact h2, #contact h2 small {
  color: #fff; }

#contact .row {
  position: relative;
  height: 100%; }

#contact .form-group {
  height: 100%; }
  #contact .form-group textarea {
    margin-bottom: 15px; }

#contact input[type="text"].form-control, #contact input[type="email"], #contact textarea {
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #0E010D;
  width: 100%; }

#contact .form-control {
  height: auto; }

#contact select.form-control {
  height: 38px; }

#contact textarea {
  height: 100%; }

#contact .contact-form-container {
  background-color: #0E010D;
  padding: 30px 0;
  margin-bottom: 40px; }

#contact hr {
  border-bottom: 2px solid #fff; }

#contact .status-div {
  display: none;
  border-radius: 4px;
  color: #fff;
  font-size: 0.85em;
  padding: 10px 20px;
  margin-bottom: 20px; }
  #contact .status-div ul {
    margin-left: 25px;
    font-style: italic; }
  #contact .status-div a, #contact .status-div a:active, #contact .status-div a:focus {
    color: #fff;
    font-style: italic; }
  #contact .status-div a:hover {
    text-decoration: underline; }
  #contact .status-div p {
    margin-bottom: 0;
    padding: 0; }
  #contact .status-div.error-div {
    background-color: rgba(255, 0, 0, 0.5); }
  #contact .status-div.success-div {
    background-color: rgba(0, 255, 0, 0.5); }

.modal {
  top: 75px; }
  .modal p {
    margin-bottom: 20px; }

.modal-content {
  font-size: 0.8em;
  padding-bottom: 30px; }

.modal-body {
  padding: 30px 40px 0; }

.modal-header {
  color: #fff;
  background-color: #0E010D;
  padding: 15px 15px 15px 40px; }
  .modal-header .close {
    color: #fff;
    opacity: 0.6;
    font-size: 1.125em;
    transition: 0.3s; }
    .modal-header .close:hover {
      opacity: 1; }

.popover-content {
  font-size: 1.125em;
  text-align: left; }

.package {
  border: 1px solid #A62405;
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative; }
  .package header {
    color: #fff;
    background-color: #A62405;
    padding: 20px 30px; }
    .package header h4 {
      margin: 0;
      font-size: 1.25em; }
  @media (min-width: 990px) {
    .package {
      font-size: 0.8em; } }
  .package footer {
    background-color: #A62405;
    text-align: center;
    color: #fff;
    font-size: 1.25em;
    font-weight: 500;
    padding: 10px 30px;
    font-family: "Roboto Slab", sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    .package footer p {
      margin: 0; }
  .package .package-body {
    padding: 20px 30px;
    margin-bottom: 75px; }

#nav {
  position: fixed;
  background-color: white;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid #ddd;
  font-size: 0.8em;
  font-weight: 500;
  top: 0; }
  #nav ul {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0 5px;
    text-align: center;
    padding: 0 0 5px; }
    #nav ul li {
      display: inline-block;
      text-align: center;
      padding-left: 15px;
      margin-bottom: 5px; }
      #nav ul li:first-child {
        padding-left: 0; }
    @media (min-width: 768px) {
      #nav ul {
        padding: 10px 0 5px;
        text-align: right; } }
  #nav .logo ul {
    text-align: center;
    font-family: "Roboto Slab", sans-serif;
    padding-top: 5px;
    margin-left: 15px;
    font-size: 1.75em; }
    @media (min-width: 768px) {
      #nav .logo ul {
        text-align: left;
        font-size: 1.25em; } }

.nav-container {
  padding-left: 0; }

.blog-teaser-container {
  margin-bottom: 2em; }
  .blog-teaser-container .blog-col {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px; }
  .blog-teaser-container h3, .blog-teaser-container .h3 {
    font-size: 1em; }
  .blog-teaser-container h2, .blog-teaser-container .h2 {
    font-size: 1.5em; }
  .blog-teaser-container p {
    font-size: 0.75em; }
  .blog-teaser-container .featured-post-image {
    width: 100%;
    padding-top: 56.25%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center;
    position: relative; }
  .blog-teaser-container .blog-inner-container {
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid #ddd; }
  .blog-teaser-container .blog-text-container {
    padding: 10px 15px; }
  .blog-teaser-container a, .blog-teaser-container a:hover, .blog-teaser-container a:focus, .blog-teaser-container a:visited {
    color: #365170; }
  .blog-teaser-container a:hover .blog-inner-container {
    background-color: #fbfcfc; }

.blog-content {
  padding-top: 40px; }
  .blog-content blockquote {
    color: #365170;
    font-size: 1.25em;
    padding: 2em 3em; }
    .blog-content blockquote:before {
      top: 35px !important; }
